Solution_folder/Console.UI/bin/
Solution_folder/Test_Project/bin/
Topics/Basic_DataStructures/bin/
Topics/Conditionals/bin/
Topics/Generics/bin/
Topics/Inheritance/bin/
Topics/Loops/bin/
Topics/Recursion/bin/
Topics/Trees/bin/